<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <title>Welcome to Spring Board Demo</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <div class="sidebar">
        <div>
          <div th:if="${user} == null" class="login">
            <form method="post" action="/users/login">
              <div><input type="text" name="username" placeholder="Username"/></div>
              <div><button type="submit">Login</button></div>
            </form>
          </div>
          <div th:if="${user} != null" class="login">
            <form method="get" action="/users/logout">
              <div><label>Username:</label><span th:text="${user.username}"></span></div>
              <div><button type="submit">Logout</button></div>
            </form>
          </div>
        </div>
        <div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
<!--            <li><a href="/settings">Settings</a></li>-->
          </ul>
        </div>
      </div>
      <div class="content-container">
        <th:block th:include="${template}"/>
      </div>
    </div>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>