<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/baseLayout :: layout (~{::body}, 'home')}">
<body>
  <div class="btn-new-post" th:if="${user}" style="margin: 20px 0;">
    <button type="button" onclick="location.href='/posts/new'">New Post</button>
  </div>
  <div>
    <table class="posts-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Username</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="post : ${posts}">
          <tr th:onclick="'location.href=\'/posts/' + ${post.id} + '\''">
            <td th:text="${post.message.title}"/>
            <td th:text="${post.user} ? ${post.user.username} : 'Unknown'"/>
            <td th:text="${#temporals.format(post.createdOn, 'yyyy-MM-dd HH:mm')}"/>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>
</body>
</html>