<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/baseLayout :: layout (~{::body}, 'home')}">
<body>
  <div>
    <button type="button" th:onclick="'location.href=\'/posts/' + ${post.id} + '/edit\''">Edit</button>
    <button type="button" th:onclick="'location.href=\'/posts/' + ${post.id} + '/delete\''">Delete</button>
  </div>
  <div class="post-detail">
    <div class="post-header">
      <span class="post-title" th:text="${post.message.title}"></span>
      <span class="post-date" th:text="${post.createdAt}"></span>
    </div>
    <div class="post-body">
      <span class="post-text" th:text="${post.message.body}"></span>
    </div>
  </div>
  <div class="comments">
  </div>
</body>
</html>