<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/baseLayout :: layout (~{::body}, 'home')}">
<body>
  <div class="post-toolbar">
    <button type="button" th:onclick="'location.href=\'/posts/' + ${post.id} + '/edit\''">Edit</button>
    <button type="button" th:onclick="'location.href=\'/posts/' + ${post.id} + '/delete\''">Delete</button>
  </div>
  <div class="post-view">
    <div class="post-header">
      <span class="post-title" th:text="${post.message.title}"></span>
      <div>
        <span class="post-writer" th:text="${post.user.username}"></span>
        <span class="post-datetime" th:text="${#temporals.format(post.createdOn, 'yyyy-MM-dd HH:mm')}"></span>
      </div>
    </div>
    <div class="post-body">
      <span class="post-text" th:text="${post.message.body}"></span>
    </div>
  </div>
  <div class="post-comments">
    <div class="comments-header">
      <span>Comments</span>
    </div>
    <div class="comments"></div>
  </div>
  <div class="comment-form">
    <textarea id="comment-text"></textarea>
    <div class="comment-toolbar">
      <button id="post-comment-btn" type="button">Post comment</button>
    </div>
  </div>
</body>
</html>