* {
  line-height: 2;
}

body {
  margin: 0;
}

body > div {
  width: 1000px;
  display: flex;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 0.75rem;
}

.navbar {
  width: 200px;
  height: 100vh;
  align-items: start;
}

.content-container {
  width: 800px;
  padding: 40px;
}

#posts tbody tr:hover {
  cursor: pointer;
}

#form-post textarea.form-control {
  height: 400px;
}

#form-comment textarea.form-control {
  height: 100px;
}

.date {
  font-size: 0.66rem;
}

#comments-header span {
  font-size: 0.75rem;
}

.comment-item {
  background: #eaeaea;
}

.comment-header {
  background: #c0c0c0;
}